@tailwind base;
@tailwind components;
@tailwind utilities;

/* FIXME: find a way to reset styles of leaflet in components */
.leaflet-marker-icon.leaflet-div-icon {
  background: none;
  border: none !important;
}

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.horizontal-slider {
  width: 100%;
  height: 25px;
  background: #ddd;
  border-radius: 5px;
}

.slider-thumb {
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
  font-size: x-small;
  position: absolute;
  /* top: -8px;  */
  top: 50%;
  transform: translate(0%, -50%); 
  margin-top: 10px;
}

.slider-track {
  top: 0;
  bottom: 0;
  background: #ddd; 
  height: 4px; 
  border-radius: 2px; 
  position: relative;
  margin-top: 10px;
}

.map-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 15vh;
  left: 10px;
  z-index: 1000;
  padding-top: 50px;
  max-height: 70vh; 
  overflow-y: auto;
}

.priority-data-controls {
  border: 1px;
  border-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 340px;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  position: relative;
  display: flex;
  align-items: center;
}

.color-picker {
  width: 20px;
  height: 20px;
  border: 1px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sketch-picker {
  position: absolute;
  z-index: 10000;
  top: 100%;
  left: 0;
}

.map-controls label {
  margin-bottom: 20px; /* Adds space between each label */
}

.map-controls label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.points-of-interest {
  margin-bottom: 20px;
}

.poi-checkbox {
  margin-bottom: 10px;
}

.reset-sliders-btn {
  margin-left: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.reset-sliders-btn:hover {
  filter: brightness(75%);
}
.config-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  z-index: 1050; /* Make sure this is above other elements */
}

.config-panel {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1051; /* Ensure the panel is above the overlay */
}

.config-columns {
  display: flex;
  justify-content: space-between;
}

.config-section {
  width: 50%;
}

.config-item {
  margin-bottom: 10px;
}



.apply-changes-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  cursor: pointer;
}

.settings-icon {
  width: 20px; 
  height: 20px; 
  position: absolute;
  right: 10px; 
  top: 10px; 
  cursor: pointer; 
}
